:root {
    --primary: #EB826B;
    --secondary: #eecab6;
    --blue: #3D837B;
    --lightblue: #64a49d;
    --palegreen: #c3caa7;
}

* {
    font-family: BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.btn {
    background-color: var(--primary);
}

.btn:hover {
    background: var(--secondary);
}

/* Custom Color For Save Button */
.bg-custom-orange {
    background-color: #EB826B;
}

.bg-custom-hover-orange:hover {
    background-color: #F4AC84;
}

.hoverable-item {
    cursor: pointer;
    color: initial;
}

.hoverable-item:hover {
    color: blue;
    text-decoration: underline;
}

.bg-secondary{
    background-color: var(--secondary);  
}
    


.btn {
    background-color: var(--primary);
}

.btn:hover {
  background: var(--secondary);
}

.recipe-card {
    border: 1px solid #ccc;
    border-color: #0056b3;
    border-style: ridge;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    text-align: center;
}

.recipe-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recipe-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.recipe-description {
    margin-bottom: 10px;
}