:root {
    --primary: #EB826B;
    --secondary: #eecab6;
    --blue: #3D837B;
    --lightblue: #64a49d;
    --palegreen: #c3caa7;
}

.btn {
    background-color: var(--primary);
}

.btn:hover {
    background: var(--secondary);
}

/* Custom Color For Save Button */
.bg-custom-orange {
    background-color: #EB826B;
}

.bg-custom-hover-orange:hover {
    background-color: #F4AC84;
}

.hoverable-item {
    cursor: pointer;
    color: initial;
}

.hoverable-item:hover {
    color: blue;
    text-decoration: underline;
}