:root {
    --primary: #EB826B;
    --secondary: #eecab6;
    --blue: #3D837B;
    --lightblue: #64a49d;
    --palegreen: #c3caa7;
}

.btn {
    background-color: var(--primary);
}

.btn:hover {
    background: var(--secondary);
}

.asidecolor {
    background-color: var(--secondary);
}